.temp-container{
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 10;
}



body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Furore;
  src: url('font.otf');
}


#canvas-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* height: 500px; */

}

#canvas-container * {
  font-family: Furore;
}

#canvas-container canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

#canvas-container .ui-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
}


/*  ------------------ loader container */
#canvas-container .game-loading p{
  color: #cdf425;
  font-size: 30px;
  text-align: center;
}

#canvas-container .loader{
  height: 40px;
  width: max-content;
  background-image: linear-gradient(180deg, #fc5799, #c9135b);
  margin: auto;
  outline: 4px #00ce89;
  outline-style: solid;
  display: flex;
  gap: 6px;
  padding-left: 3px;
  padding-right: 3px;
}

#canvas-container .visible{
  opacity: 1 !important;
}

#canvas-container .loader span{
  margin: 3px 0;
  width: 15px;
  background-color: #cdf425;
  opacity: 0;
}

#canvas-container .hide{
  display: none;
}

#canvas-container>img{
  width: 300px;
  height: auto;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -60px;
  translate: -50% 0;
}



/* ------------------- audio button ------------ */
#canvas-container .audio-button{
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 1;
}

#canvas-container .audio-button input{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas-container .audio-button .off{
  display: block;
}

#canvas-container .audio-button .onn{
  display: none;
}

#canvas-container .audio-button input:checked ~ .onn{
  display: block;
}

#canvas-container .audio-button input:checked ~ .off{
  display: none;
}

#canvas-container .audio-button svg{
  fill: white !important;
  width: 30px;
}





#canvas-container h2 {
  text-align: center;
  font-weight: normal;
  margin: 0;
}

#canvas-container h3 {
  font-weight: normal;
  font-size: 40px;
  color: #cdf425;
  text-align: center;
  margin: 0;
  opacity: 0;
}

#canvas-container h2 .left {
  font-size: 60px;
  color: #ed2e7b;
  margin: 0;
}


#canvas-container .animation {
  animation: scale-animation 1.5s;

}




#canvas-container h2 span.right {
  font-size: 60px;
  color: #00ce89;
}


@keyframes scale-animation {
  0% {
    opacity: 0;
    
  }

  20%{
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}




#color {
  background-color: #f3e30013;
}



/* ------------------- making responsive -------------------- */
@media only screen and (max-width: 800px) {

  #canvas-container>img{
    width: 200px;
    top: -40px;
  }
  
  #canvas-container .loader{
    height: 25px;
  }

  #canvas-container .loader span{
    width: 6px;
  }

  #canvas-container h2 .left, #canvas-container h2 .right {
    font-size: 32px !important;
  }

  #canvas-container .game-loading p{
    font-size: 20px;
  }

  #canvas-container h3 {
    font-size: 24px;
  }
  

}