body{
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


#canvas-container{
  width: 1200px;
  height: 600px;
  overflow: hidden;
  background-image: url('/space.jfif');
}

#color{
  background-color: #f3e30013;
}