body{
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


#canvas-container{
  max-width: 1280px;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

#color{
  background-color: #f3e30013;
}